<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Article :: Community </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="../resources/CSS/containers.css">
    <link rel="stylesheet" href="../resources/CSS/index.css">
</head>
<body>
    
    <script src="../resources/bootstrap/js/bootstrap.min.js"></script>

    <div id="app">
        <navcomponent page="article"></navcomponent>

        <div class="p-2">
            <div v-if="lang == 'es'" class="cont2 p-2 rounded-2">
                <h3>Comunidad</h3>
            </div>
            <div v-if="lang == 'en'" class="cont2 p-2 rounded-2">
                <h3>Community</h3>
            </div>
            <div>
                <div v-if="lang == 'es'" class="basicdark p-2 my-2">
                    <p>
                    Siento que este es un buen articulo para comenzar a hablar de todo este tema, cabe aclarar que desde hace un tiempo soy abiertamente parte de la comunidad y en la actualidad interactuo constantemente con ella.
                    Hace ya unos cuantos años que descubri esta comunidad, y admito que la primera vez lo vi como un grupo enorme de raritos debido a que yo experimentaba esto de otras maneras.
                    Pero a medida que paso el tiempo conoci a muchas personas con pensamientos completamente diferentes, incluso tuve experiencias un poco mas inmersivas con algunas de esas personas.
                    Y hoy en este articulo hablaremos de los diferentes tipo de personas y personalidades que me he en contrado en la comunidad abdl a lo largo de todo este tiempo.
                    </p>
                    <h5>Conociendo la comunidad</h5>
                    <p>
                    Para añadir mas contexto a todo lo que voy a explicar me gustaria contar la forma en que descubri la comunidad en primer lugar
                    </p>
                    <p>
                    Hace unos cuantos años atras cuando tenia unos 15 años aproximandamente, por la televisión pasarón un programa que trataba sobre personas extrañas, y entre esas habia una muchacha abdl, cabe aclarar que 
                    para ese entonces no estaba familiarizado con ese termino, por lo que solo me me quede viendo el programa pensando en que eso era demasiado raro.
                    </p>
                    <p>
                    En esos tiempo mi situación emocional no era la mejor, y estaba en etapa de descubrir nuevas cosas, un dia navegando por internet y buscando temas de psicologia porque me gusta esa tematica me encontre con diferentes tipo de
                    terapia usados para ayudar a deshacer traumas y quitar ciertas conductas que en muchos casos un adulto o adolecente no tendria que tener. Entre esas terapias me encontre una especial llamada terapia de regresión de edad.
                    </p>
                    <p>
                    Un dia que estaba solo en casa me propuse intentar realizar esa terapia en mi mismo sin conocimientos previos y solo experimentando, no fue la gran cosa, pero ese dia algo cambió, comence a ver el mundo diferente, 
                    lo veia con ojos mas curiosos, y a medida que pasaban los meses segui realizando la terapia regresando de edad cada vez mas hasta llegar hasta el punto donde no se podia mas, y esperar renacer de nuevo mentalmente.
                    </p>
                    <p>
                    Es dificil explicar lo que se sentia, pero cada vez intentaba hacer que fuera mas inmersivo, eso implico usar elementos que son caracteristicos de bebes y cosas por el estilo, admito que me daria mucha vergüenza que alguien me viera asi, y de alguna forma habia desarrollado una
                    obsesión por volver a ser un niño pequeño descubriendo el mundo, hacer eso me hacia olvidarme de todo lo demas, era lo unico que de verdad me hacia olvidarme de mi vida, y tener otra vida almenos por unas horas.
                    </p>
                    <p>
                        Me costó mucho tiempo aceptar en que me estaba convirtiendo, estaba formando una segunda vida de locura, y constantemente me repetia que estaba perdiendo la cabeza y que tenia que dejar de hacer eso porque me estaba dañando mentalmente,
                        Grata fue la sorpresa de encontrar a otra persona igual en instagram un dia y ahí entendi que no era el unico que hacia ese tipo de cosas, sino que había una comunidad muy grande detras; Luego de hablar con esa persona durante un tiempo me explico muchas cosas y porfin sentí que estaba en el lugar correcto.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <script src="../resources/vue_components/navbar.js"></script>
    <script src="../resources/JS/investigations.js"></script>

</body>
</html>