<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LittleRegress START</title>
    <link rel="stylesheet" href="pages/resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="pages/resources/CSS/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="pages/resources/CSS/containers.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    
    

    <div id="app">

        <navcomponent page="index"></navcomponent>

        
        <div id="contentPage" class="transpop">
            

                <div style="background-image: url('pages/resources/Images/Schema/stars-changing-colors.gif'); background-size: cover; height: 100px; border: none; border-bottom: double; border-color: black;">
                    <h1 class="text-center w-100" style="position: relative; top:20px;">LITTLEREGRESS</h1>
                </div>

                <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="First slide"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="1"
                            aria-label="Second slide"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="2"
                            aria-label="Tercero"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="3"
                            aria-label="Cuarto"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="4"
                            aria-label="Quinto"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="5"
                            aria-label="Sexto"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="6"
                            aria-label="Septimo"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="7"
                            aria-label="Octavo"
                        ></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default Cot.png"
                                class="w-100 d-block"
                                alt="First slide"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Changer.png"
                                class="w-100 d-block"
                                alt="Second slide"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/blue_tapiz.png"
                                class="w-100 d-block"
                                alt="Tercero"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default_bath.png"
                                class="w-100 d-block"
                                alt="Cuarto"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default_chair.png"
                                class="w-100 d-block"
                                alt="Quinto"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default_closset.png"
                                class="w-100 d-block"
                                alt="Sexto"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default_trainner.png"
                                class="w-100 d-block"
                                alt="Septimo"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default_wash.png"
                                class="w-100 d-block"
                                alt="Octavo"
                            />
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselId"
                        data-bs-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselId"
                        data-bs-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class=" p-2">
                    <div class=" bcontainer cont2 p-2 rounded-3">
                        <div v-if="lang == 'es'" id="esparagrahp">
                            <p class="text-center">LittleRegress en un datapack para minecraft que añade el rol de bebé y cuidador a tu experiencia de minecraft, teniendo en cuenta la seguridad del usuario en un entorno de un solo jugador y multijugador, explorando experiencias aptas para la terapia de regresion, uso por la comunidad ABDL y todas sus variantes, ademas de ser de codigo abierto y totalmente modificable por el usuario.</p>
                            <p class="text-center">El datapack actualmente usar elementos creados como lo son los pañales, ropa, cuna, cambiador, bañera, inodoro, chupon de bebe, silla de bebe y demas.</p>
                            <p class="text-danger text-center">El datapack se encuentra en desarrollo por lo que el contenido puede cambiar.</p>
                        </div>
                        <div v-if="lang == 'en'" id="enparagrahp">
                            <p class="text-center">LittleRegress is a datapack for Minecraft that adds the baby and caregiver roles to your Minecraft experience, taking into account user safety in both single-player and multiplayer environments. It explores experiences suitable for regression therapy, catering to the ABDL (Adult Baby Diaper Lover) community and all its variants. Additionally, it is open-source and fully customizable by the user.</p>
                            <p class="text-center">The current datapack provides the opportunity use items specifically created such as diapers, clothing, crib, changing table, bathtub, toilet, baby pacifier, baby chair, and more.</p>
                            <p class="text-danger text-center">Please note that the datapack is still in development, so the content may undergo changes.</p>
                        </div>
            
                    </div>
                </div>
                
        
                <div class="navbar justify-content-center " id="imgPanel">
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Default Cot.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Bath.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/blue_tapiz_2.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Chair.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Changer.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Closset_2.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Cot.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Default nappy.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Default paci.png" alt="aa" class="w-100 imgdef">
                    </div>
                </div>

                
                <hr>

                <div id="crafting" class="container">
                    <div v-if="lang == 'en'">
                        <h1 class="text-center">INFORMATION</h1>
                    </div>

                    <div v-if="lang == 'es'">
                        <h1 class="text-center">INFORMACIÓN</h1>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Pañal":"Nappy" }}</h4>                        
                            <img class="imgdef w-100" src="pages/resources/Images/craftings/nappy.png" alt="closset crafting">                            
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">Compota</h4>
                        
                            <img class="imgdef w-100" src="pages/resources/Images/craftings/compota.png" alt="closset crafting">
 
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Laxante":"Laxative" }}</h4>
 
                            <img class="imgdef w-100" src="pages/resources/Images/craftings/lax.png" alt="closset crafting">

                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Chupon":"Pacifier" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/Paci.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Default paci.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Bloque de patro de nuves":"Blue cloud tapiz patron block" }}  </h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/Blue tapiz.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/blue_tapiz_2.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Baño":"Bath" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/bath.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Default_bath.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Cuna":"Cot / Crib" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/cot.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Cot.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Silla de bebes":"baby Chair" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/chair.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Default_chair.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Bañera":"Bathtub" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/wash.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Default_wash.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center"> {{ lang == "es"?"Mesa de cambios":"Changing Table" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/changer.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Changer.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center"> {{ lang == "es"?"Closset de pañales":"Nappy Closset" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/closset.png" alt="closset crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Closset_2.png" alt="Def closset">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center"> {{ lang == "es"?"Entrenador de baño para bebes":"Potty Trainning" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/training.png" alt="closset crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Default_trainner.png" alt="Def closset">
                        </div>
                    </div>

                    
                    

                </div>
        </div>
        
            
        



    </div>    
    
    <script src="pages/resources/vue_components/navbar.js"></script>
    <script src="pages/resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="pages/resources/JS/index.js"></script>
    
</body>
</html>