<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="mErzyX6rje7ZVZhOKB9Ao9c33OnbBQ0WQkBDmsxbpNE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LittleRegress START</title>
    <link rel="stylesheet" href="pages/resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="pages/resources/CSS/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="pages/resources/CSS/containers.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    
    <div id="app">

        <navcomponent page="index"></navcomponent>

        <div id="contentPage" class="transpop">
            

                <div style="background-image: url('pages/resources/Images/Schema/stars-changing-colors.gif'); background-size: cover; height: 100px; border: none; border-bottom: double; border-color: black;">
                    <h1 class="text-center w-100" style="position: relative; top:20px;">LITTLEREGRESS</h1>
                </div>

                <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="First slide"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="1"
                            aria-label="Second slide"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="2"
                            aria-label="Tercero"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="3"
                            aria-label="Cuarto"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="4"
                            aria-label="Quinto"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="5"
                            aria-label="Sexto"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="6"
                            aria-label="Septimo"
                        ></li>
                        <li
                            data-bs-target="#carouselId"
                            data-bs-slide-to="7"
                            aria-label="Octavo"
                        ></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default Cot.png"
                                class="w-100 d-block"
                                alt="First slide"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Changer.png"
                                class="w-100 d-block"
                                alt="Second slide"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/blue_tapiz.png"
                                class="w-100 d-block"
                                alt="Tercero"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default_bath.png"
                                class="w-100 d-block"
                                alt="Cuarto"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default_chair.png"
                                class="w-100 d-block"
                                alt="Quinto"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default_closset.png"
                                class="w-100 d-block"
                                alt="Sexto"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default_trainner.png"
                                class="w-100 d-block"
                                alt="Septimo"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="pages/resources/Images/mc_screenshots/Default_wash.png"
                                class="w-100 d-block"
                                alt="Octavo"
                            />
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselId"
                        data-bs-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselId"
                        data-bs-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class=" p-2">
                    <div class=" bcontainer cont2 p-2 rounded-3">
                        <div v-if="lang == 'es'" id="esparagrahp">
                            <p class="text-center">LittleRegress en un datapack para minecraft que añade el rol de bebé y cuidador a tu experiencia de minecraft, teniendo en cuenta la seguridad del usuario en un entorno de un solo jugador y multijugador, explorando experiencias aptas para la terapia de regresion, uso por la comunidad ABDL y todas sus variantes, ademas de ser de codigo abierto y totalmente modificable por el usuario.</p>
                            <p class="text-center">El datapack actualmente usar elementos creados como lo son los pañales, ropa, cuna, cambiador, bañera, inodoro, chupon de bebe, silla de bebe y demas.</p>
                            <p class="text-danger text-center">El datapack se encuentra en desarrollo por lo que el contenido puede cambiar.</p>
                        </div>
                        <div v-if="lang == 'en'" id="enparagrahp">
                            <p class="text-center">LittleRegress is a datapack for Minecraft that adds the baby and caregiver roles to your Minecraft experience, taking into account user safety in both single-player and multiplayer environments. It explores experiences suitable for regression therapy, catering to the ABDL (Adult Baby Diaper Lover) community and all its variants. Additionally, it is open-source and fully customizable by the user.</p>
                            <p class="text-center">The current datapack provides the opportunity use items specifically created such as diapers, clothing, crib, changing table, bathtub, toilet, baby pacifier, baby chair, and more.</p>
                            <p class="text-danger text-center">Please note that the datapack is still in development, so the content may undergo changes.</p>
                        </div>
            
                    </div>
                </div>
                
                <div class="p-2">
                    <div class="bcontainer cont2 p-2 rounded-1">
                        <div v-if="lang == 'es'">
                            <h1>1.20.4</h1>
                            <p>Debido a problemas de compatiblidad con las ultimas versiones de minecraft de la 1.20.5 en adelante se ha optado por reiniciar el desarrollo del datapack, esta desición no se ha tomado a la ligera y se ha intentado en lo posible actualizar el datapack a las versiones mas recientes que a este tiempo son de la 1.20.5 a la 1.21, cuyos intentos no fueron satisfactorios y han causado muchos problemas de inestabilidad.</p>
                            <p>La versión actual del datapack no sera borrada y se corregiran bugs en lo posible los cuales sean reportados al correo abthinksdl@gmail.com, estare atento a cualquier sugerencia de cualquier usuario como idea para implementar en el datapack.</p>
                            <p>Es probable que el desarrollo se demore mas de la cuenta, hay que tener en cuenta que en mi equipo de trabajo soy el unico programador y diseñador, sin embargo hay personas que me ayudan probando el contendo y encontrando errores.</p>
                            <p>La segunda version del datapack tendra contenido nuevo, mejoras de dimensiones, estructuras, mas ropa, mas mecanicas, mucho mas contentido y mejor balanceado.</p>
                            <p>Si quieres contribuir al desarrollo del datapack de forma completamente voluntaria estare mas que encantado de recibir ayuda en el desarrollo.</p>
                            <p>Si tienes buenos conocimientos en mcfunction para minecraft java de la 1.20.5 en adelante y quieres ayudar eres bienvenido, el proyecto siempre sera de codigo abierto por lo que puedes contribuir al proyecto de forma directa.</p>
                            <p class="text-danger">Nota: Esta datapack nunca sera vendido, el contenido creado por y para este datapack busca ser libre y darle la posibilidad a cualquier usuario de minecraft de experimentar el contenido que este proporciona.</p>
                        </div>
                        <div v-if="lang == 'en'">
                            <h1>1.20.4</h1>
                            <p>Due to compatibility issues with the latest versions of Minecraft from 1.20.5 onwards, we have decided to restart the development of the datapack. This decision was not made lightly and every effort was made to update the datapack to the latest versions, which currently range from 1.20.5 to 1.21. However, these attempts were not successful and have caused many stability issues.</p>
                            <p>The current version of the datapack will not be deleted, and bugs will be fixed as much as possible if they are reported to the email abthinksdl@gmail.com. I will be attentive to any suggestions from any user as ideas to implement in the datapack.</p>
                            <p>It is likely that the development will take longer than expected. Please keep in mind that I am the only programmer and designer on my team, although there are people who help me by testing the content and finding errors.</p>
                            <p>The second version of the datapack will have new content, improved dimensions, structures, more clothing, more mechanics, much more content, and better balance.</p>
                            <p>If you want to contribute to the development of the datapack on a completely voluntary basis, I will be more than happy to receive help in the development.</p>
                            <p>If you have good knowledge of mcfunction for Minecraft Java from 1.20.5 onwards and want to help, you are welcome. The project will always be open-source, so you can contribute to the project directly.</p>
                            <p class="text-danger">Note: This datapack will never be sold. The content created by and for this datapack aims to be free and give any Minecraft user the opportunity to experience the content that it provides.</p>
                        </div>
                    </div>
                </div>

                <div class="navbar justify-content-center " id="imgPanel">
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Default Cot.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Bath.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/blue_tapiz_2.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Chair.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Changer.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Closset_2.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Cot.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Default nappy.png" alt="aa" class="w-100 imgdef">
                    </div>
                    <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-4 p-1 ">
                        <img src="pages/resources/Images/mc_screenshots/Default paci.png" alt="aa" class="w-100 imgdef">
                    </div>
                </div>

                
                <hr>

                <div id="crafting" class="container">
                    <div v-if="lang == 'en'">
                        <h1 class="text-center">INFORMATION</h1>
                    </div>

                    <div v-if="lang == 'es'">
                        <h1 class="text-center">INFORMACIÓN</h1>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Pañal":"Nappy" }}</h4>                        
                            <img class="imgdef w-100" src="pages/resources/Images/craftings/nappy.png" alt="closset crafting">                            
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">Compota</h4>
                        
                            <img class="imgdef w-100" src="pages/resources/Images/craftings/compota.png" alt="closset crafting">
 
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Laxante":"Laxative" }}</h4>
 
                            <img class="imgdef w-100" src="pages/resources/Images/craftings/lax.png" alt="closset crafting">

                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Chupon":"Pacifier" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/Paci.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Default paci.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Bloque de patro de nuves":"Blue cloud tapiz patron block" }}  </h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/Blue tapiz.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/blue_tapiz_2.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Baño":"Bath" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/bath.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Default_bath.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Cuna":"Cot / Crib" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/cot.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Cot.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Silla de bebes":"baby Chair" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/chair.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Default_chair.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center">{{ lang == "es"?"Bañera":"Bathtub" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/wash.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Default_wash.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center"> {{ lang == "es"?"Mesa de cambios":"Changing Table" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/changer.png" alt="bath crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Changer.png" alt="Def bathº">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center"> {{ lang == "es"?"Closset de pañales":"Nappy Closset" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/closset.png" alt="closset crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Closset_2.png" alt="Def closset">
                        </div>
                    </div>

                    <div class="abcontainers p-2 my-2">
                        <h4 class="text-center"> {{ lang == "es"?"Entrenador de baño para bebes":"Potty Trainning" }}</h4>
                        <div class="navbar">
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/craftings/training.png" alt="closset crafting">
                            <h1 class="text-center nav-item col-12 col-sm-12 col-md-3 col-lg-4">=</h1>
                            <img class="imgdef nav-item col-12 col-sm-12 col-md-3 col-lg-4" src="pages/resources/Images/mc_screenshots/Default_trainner.png" alt="Def closset">
                        </div>
                    </div>

                    
                    

                </div>
        </div>
        
            
        



    </div>    
    
    <script>

        document.addEventListener('loadstart', function() {
            console.log('dsadasdas');
            
            window.location.href = './newIndex.html'
        })

    </script>

    <script src="pages/resources/vue_components/navbar.js"></script>
    <script src="pages/resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="pages/resources/JS/index.js"></script>

</body>
</html>