.abcontainers{
    
    border : solid;
    border-color: black;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 5px;

}

.abcontainers:hover {

    position: relative;
    animation: contanim;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}



@keyframes contanim{

    0%{

        top: 0px;
        background-color: rgba(0, 0, 0, 0.411);
        border-color: black;

    }100%{

        top: -5px;
        background-color: rgba(48, 107, 107, 0.411);
        border-color: rgb(194, 169, 169);

    }


}

.transpop{


    transition: opacity 0.5s ease-in-out;

}
.bcontainer{

    padding: 10px;
    border : solid;
    border-width: 1px;
    border-color: black;

}

.cont2{

    background-image: url("../Images/Schema/cont_2.svg");
    background-size: cover;

}