<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/CSS/index.css">
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="resources/CSS/containers.css">
</head>
<body>
    <script src="resources/bootstrap/js/bootstrap.min.js"></script>

    <div id="app">
        <navcomponent page="about"></navcomponent>
        
        <div>
            <div class="p-2">
                
                <div class="navbar justify-content-center">
                    <template v-if="lang == 'en'">
                        <p class="nav-item mx-2">Read in</p>        
                    </template>
                    <template v-if="lang == 'es'">
                        <p class="nav-item mx-2">Leer en</p>        
                    </template>
                    
                    <select class="nav-item " style="position: relative; top: -10px;" id="lgSelector">
                        <option value="es" :selected="lang == 'es'" >{{lang == "es"?"Español":"Spanish"}}</option>
                        <option value="en" :selected="lang == 'en'" >{{lang == "es"?"Ingles":"Inglish"}}</option>
                    </select>
                    <button style="position: relative; top: -10px;" class="mx-2" @click="startermsgLang">{{ lang == "es"?"APLICAR":"APPLY" }}</button>
                </div>

            </div>
        </div>
        <div class="p-2">
            <div   id="startermsg" >
            
                <div class="p-2 titlebox ">
    
                    <div v-if="lang == 'es'" class="p-2"  >
                        <h1 class="text-center">LITTLE REGRESS</h1>
                        <p class="text-center">Little Regress es un proyecto codigo abierto que espera extenderse a diferentes plataformas y videojuegos trayendo en ellas una experiencia de usuario que facilite la regresión de edad y creacion de contenido para la comunidad ABDL DL TBDL y demas, buscando respetar la seguridad de los usuarios y respetar su sanidad mental cuidando cada implementación que se haga y haciendola pasar por un filtro especial que mejore su desarrollo dia con dia con lo que las plataformas en las que realizamos el contenido lo permiten.</p>
                        <p class="text-center">El codigo de todo lo que se desarrolle basado en este proyecto siempre sera de codigo abierto bajo la licencia  <a href="https://github.com/pipelonso/LittleRegress/blob/main/LICENSE">GENERAL PUBLIC LICENSE</a> , lo que significa que todo el contenido creado a base de este proyecto tambien tendra que ser de codigo abierto si se convierte en un proyecto aparte.</p>
                        <p class="text-center">Ademas de ser de codigo abierto y que cada usuario puede programar lo que se considere apropiado para la comunidad en generar, en caso de no saber crear modificaciones o datapacks el usuario puede contribuir con sugenrencias de contenido en el servidor oficial de discord, esto se hace hace para que el proyecto no se concentre en una sola persona sino que mas personas puedan contribuir para crear el datapack de este tipo de contenido mas completo y mejor desarrollado hasta la fecha.</p>
                        <p class="text-center">En caso del contenido proporcionado por el usuario no se apropiado, el usuario puede decidir crear un proyecto aparte basado en el datapack, obteniendo todas las caracteristicas del datapack hasta el momento y ajuntando la caracteristica proporcionada por el usuario de forma separada al desarrollo del datapack en general, de esta forma hacer que un usuario tambien pueda crear modificaciones al mismo contendo del datapack o contenido general en caso de considerarse necesario.</p>
                    </div>
                    <div v-if="lang == 'en'" class="p-2"  >
                        <h1 class="text-center">LITTLE REGRESS</h1>
                        <p class="text-center">Little Regress is an open-source project that aims to expand to different platforms and video games, providing a user experience that facilitates age regression and content creation for the ABDL, DL, TBDL, and other communities. The project aims to respect the safety and mental well-being of users by carefully implementing and filtering each feature. This process is intended to improve development day by day, in accordance with the policies of the platforms where the content is created.</p>
                        <p class="text-center">The code for everything developed based on this project will always be open-source under the <a href="https://github.com/pipelonso/LittleRegress/blob/main/LICENSE">GENERAL PUBLIC LICENSE</a>, which means that all content created based on this project must also be open-source if it becomes a separate project.</p>
                        <p class="text-center">In addition to being open-source, and allowing each user to program what is deemed appropriate for the community in general, in the event that a user is unable to create modifications or datapacks, they can contribute content suggestions on the official Discord server. This is done to ensure that the project does not rely on a single person, but rather, more individuals can contribute to make the datapack for this type of content more comprehensive and better developed to date.</p>
                        <p class="text-center">If the content provided by the user is not deemed appropriate, the user has the option to create a separate project based on the datapack. They can incorporate all the features of the datapack up to that point and integrate the user-provided feature separately into the overall development of the datapack. This allows users to create modifications to the content of the datapack or general content if deemed necessary.</p>
                    </div>

                    <h1 class="text-center">{{ lang == 'es'?"MENSAJE DEL CREADOR":"MESSAGE FROM CREATOR" }}</h1>
    
                    <div class="navbar justify-content-center">
    
                        <div  v-if="lang == 'es'" id="esPresentacion">
    
    
                            <p >
                                Hola, me presento, me llamo pipe y soy el desarrollador principal de LittleRegress Datapack para minecraft java el cual añade por decirlo asi un conjunto de elementos que ayudan a hacer un mejor rol de bebe y cuidador dentro de minecraft, esto esta dedicado para la comunidad abdl, dl, ab, tb, y tbdl y busco la aceptación de cualquier persona sin discriminar su su genero, color de piel, lugar de procedencia o cultura.                        
                            </p>
                            <p>
                                Me he empeñado por entender bastantes segmentos de la comunidad y me tomó realmente bastante tiempo llegar a la conclusión de escribir este mensaje, y el hecho de hacer que este mensaje apareciera en la pagina principal del sitio web.
                            </p>
                            <p>
                                He ingresado a varias comunidades exclusivamente para entender su funcionamiento, tambien he leido bastantes libros en wattpad, algunos son muy bonitos aunque su redacción no sea lo mejor del mundo, pero igual me encanta ver la experiencia de las personas con lo que hacen y lo que logran aprender, cada persona es un universo distinto y nuevo, del cual aprender e intentar entender, he tenido buenas charlas y convivencia con algunas personas, aunque con otras personas quizas y no halla sido la mejor, se donde estan mis limites y hasta que punto es malo para mi la interacción con alguien.
                            </p>
                            <p>
                                Me he enfocado en hacer que la interacción con cada usuario de esta comunidad sea lo mas comodo y seguro posible dentro de lo que ese usuario considere normal, atendendiendo a lo que quiera hacer y pidiendo opinion sobre que le gustaria incluir en el contenido del datapack, y realmente me gustaria profundizar mas a fondo en algun momento, quizas podria hacer un apartado en el sitio web precisamente para esto, ya que considero que es algo importante que cada persona tiene que entender.
                            </p>
                            <p>
                                Hace poco tiempo le conte a mi madre sobre las cosas que hago y porque formo parte de esta comunidad, le intente hacer ver el lado bueno de las cosas y nisiquiera quizo entender el motivo del porque entre a esta comunidad en primer lugar, puede que no halla sido diagnosticado por un psicologo oficialmente de que tengo problemas de ansiedad y realmente me estresa el solo hecho de existir, cuando estoy en modo AB de alguna forma siento que todo esta bien, porque simulo la dulce y hermosa ignorancia de un bebe, cuando nada era mas importante que explorar y descubrir tu entorno, sin preocuparte de nada, porque nisiquiera sabias que podia ser algo malo lo que te podia pasar.
                                Se que estas actividades tampoco es que se caractericen por ser lo mas limpio del mundo, y entiendo que sean desagradables para algunas personas, por no decir muchas, incluso algunas cosas son desagradables para mi aun, quizas aun no me he terminado de adaptar completamente a la comunidad, pero voy aprendiendo y entendiendo poco a poco.
                            </p>
                            <p>
                                Tambien se que muchas persona toman esto como un fetiche sexual, y entiendo porque lo toman asi, se que se siente ahi abajo cuando yo uso un pañal, soy una persona adulta que acaba de salir de la adolecencia y experimente muchas cosas por lo que puedo decir que el pañal se presta para muchas cosas desagradables y bastante para mayores de edad, y una de las razones por las que prefiero evitar a toda costa ese tipo de acciones es precisamente porque cuando termino haciendo algo asi mi mente en vez de generar el efecto relajante que deberia hacer, genera todo lo contrario y me causa mas ansiedad.
                            </p>
                            <p>
                                Tambien me gustaria por ejemplo en el datapack añadir mi propio toque personal, algo que simbolice de alguna manera la razon de porque me termine uniendo a esta comunidad, lo he estado pensando mucho, porque es que no se nisiquiera si eso puede hacer que me sienta mejor o peor.
                            </p>
                            <p>
                                Cuando comence el desarrollo de LittleRegress no habia profundizado tanto en la comunidad, de hecho, era un proyecto solo para jugar con un amigo, pero el dia que dicidi hacer mas grande el proyecto y mostrar lo que estaba creando en un server de discord en el cual varias personas se interesaron en el proyecto, decidí hacer publico el proyecto y de codigo abierto, ya que quiero que cada persona sea libre de elegir y hacer con lo que le gusta.
                            </p>
                            <p>Yo solo me encargare de hacer el lado seguro de todo, sin embargo aplicando de igual manera elementos que mejoren la seguridad del datapack ante diferentes tipos de publico.</p>
                            <p>Quizas en un futuro, si es que no existe ya, pueda hacer un apartado especial para mostrar todo lo que he averiguado y mostrar todo el trabajo que hay detras del desarrollo de LittleRegress</p>
                        </div>
                        <div v-if="lang == 'en' " id="enPresentation">
                            <p >
                                Hello, let me introduce myself. My name is Pipe, and I am the lead developer of the LittleRegress datapack for Minecraft Java. This pack adds a set of elements that contribute to a better role-playing experience as a baby and caregiver within Minecraft. It is dedicated to the ABDL, DL, AB, TB, and TBDL communities, seeking acceptance from anyone regardless of their gender, skin color, place of origin, or culture.
                            </p>
                            <p>
                                I have made an effort to understand various segments of the community, and it took me quite a long time to reach the conclusion of writing this message and having it appear on the main page of the website.
                            </p>
                            <p>
                                I have joined several communities exclusively to understand their functioning. I have also read numerous books on Wattpad; some are very nice, even if their writing may not be the best in the world. Nonetheless, I love to see people's experiences with what they do and what they manage to learn. Each person is a different and new universe to learn from and try to understand. I've had good conversations and interactions with some people, though with others, it might not have been the best. I know my limits and the extent to which interaction with someone can be detrimental to me.
                            </p>
                            <p>
                                My focus has been on making the interaction with each user in this community as comfortable and secure as possible within what that user considers normal. I pay attention to what they want to do and ask for opinions on what they would like to include in the datapack content. I would really like to delve deeper into this at some point; perhaps I could create a section on the website specifically for this, as I consider it important for each person to understand.
                            </p>
                            <p>
                                Recently, I told my mother about the things I do and why I am part of this community. I tried to show her the positive side of things, but she didn't even want to understand the reason why I joined this community in the first place. Maybe I haven't been officially diagnosed by a psychologist with anxiety problems, and the mere existence of it really stresses me out. When I'm in AB mode, somehow I feel that everything is okay because I simulate the sweet and beautiful ignorance of a baby when nothing was more important than exploring and discovering your surroundings without worrying about anything, as you didn't even know that something bad could happen. I know these activities are not necessarily the cleanest in the world, and I understand that they may be unpleasant for some people, if not many. Some things are even unpleasant for me still. Perhaps I haven't fully adapted to the community yet, but I am learning and understanding little by little.
                            </p>
                            <p>
                                I also know that many people see this as a sexual fetish, and I understand why they perceive it that way. I know how it feels down there when I wear a diaper. I am an adult who has just emerged from adolescence and experienced many things, so I can say that diapers lend themselves to many unpleasant things, especially for adults. One of the reasons I prefer to avoid such actions at all costs is precisely because when I end up doing something like that, instead of generating the relaxing effect it should, it has the opposite effect and causes more anxiety.
                            </p>
                            <p>
                                I would also like, for example, to add my own personal touch to the datapack, something that symbolizes in some way the reason why I ended up joining this community. I've been thinking a lot about it because I don't even know if it can make me feel better or worse.
                            </p>
                            <p>
                                When I started the development of LittleRegress, I hadn't delved so deeply into the community. In fact, it was initially a project just to play with a friend. However, on the day I decided to expand the project and showcase what I was creating on a Discord server where several people became interested in the project, I decided to make the project public and open source because I want each person to be free to choose and do what they like.
                            </p>
                            <p>
                                I will only take care of the safe side of everything, while also implementing elements that enhance the security of the datapack for different types of audiences.
                            </p>
                            <p>
                                Perhaps in the future, if it doesn't already exist, I could create a special section to showcase everything I have found out and display all the work behind the development of LittleRegress.
                            </p>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
        


    </div>
    <script src="resources/vue_components/navbar.js"></script>
    <script src="resources/JS/about.js"></script>
</body>
</html>