<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LittleRegress :: Development</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <script src="resources/tailwindcss/tailwind.js"></script>
    <script src="resources/vue2/vue_2.js"></script>
</head>

<body class="bg-pink-100">

    <style>
        .saira {
            font-family: "Saira Extra Condensed", sans-serif;
        }

        .clouds-frame {
            background-image: url(resources/Images/svg/clouds.svg);
        }

        html,
        body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }
    </style>

    <main>

        <div id="app">
            <div class="h-[150px]">
                <div class="clouds-frame bg-cover h-[150px] w-full absolute"></div>
                <div class="absolute w-full">
                    <top-bar :lang="lang"></top-bar>
                </div>
            </div>
            <div class="p-2">
                <div class="saira p-2 rounded-md bg-slate-400">
                    <div class="flex gap-1 bg-slate-300">
                        <div class="bg-slate-500 w-[2px]"></div>
                        <p class="text-slate-700">Concepto</p>
                    </div>
                    <div class="py-2">
                        <div>
                            <div class="p-2 bg-slate-300">
                                <div class="text-slate-600">
                                    <div v-if="lang == 'en'">
                                        <p>
                                            LittleRegress is a project created to express free age regression within Minecraft.
                                        </p>
                                        <p>
                                            This is a highly customizable open-source project designed so that users can add their own custom content.
                                            The datapack is under the <a
                                                class="underline hover:bg-green-300 rounded-md"
                                                href="https://github.com/pipelonso/LittleRegressRebirth/blob/main/LICENSE">GNU General Public License v3.0</a>,
                                            which means that any creation based on LittleRegress must also be open-source and share the same license.
                                        </p>
                                        <p>
                                            The main branch of the project aims not to include inappropriate content or anything that compromises the integrity of users.
                                            If any issue arises with someone or with specific content, the implementation of that content will be reconsidered.
                                            If a user wishes to add custom content, they are welcome to reach out through the various communication channels provided by the project,
                                            and through those, propose ideas or collaborate to implement features in development.
                                            If the content the user wishes to add goes against the datapack’s policies, their creation will not be denied;
                                            instead, they are completely free to fork the project and work on their version to include their implementation.
                                            However, we <strong>do not take responsibility</strong> for any problems that may arise from that version of the project.
                                            This is to separate inappropriate content from the main version, while also respecting every user’s freedom of expression.
                                        </p>
                                        <div class="flex gap-1">
                                            <div class="bg-blue-500 w-[2px]"></div>
                                            <p> <strong> Content Regulations </strong> </p>
                                        </div>
                                        <p>
                                            Due to its philosophy of providing a safe exploration environment, the datapack follows these development rules:
                                        </p>
                                        <ol>
                                            <li>
                                                • No content including nudity or sexual suggestions will be added.
                                            </li>
                                            <li>
                                                • Although the datapack includes elements like diapers, which could be seen as a fetish by some, its purpose is not to portray these as sexual in nature.
                                                The use of such elements is left to the discretion of the user.
                                            </li>
                                            <li>
                                                • If any user encounters issues with non-toggleable content, a discussion will take place regarding its re-implementation,
                                                and efforts will be made to make that content optional.
                                            </li>
                                            <li>
                                                • If a mechanic is added that may be unpleasant for users who are more sensitive to certain content,
                                                it will be optional by default and can be enabled or disabled in the datapack settings.
                                                However, please note that this may not apply to older versions of the datapack.
                                            </li>
                                            <li>
                                                • The LittleRegress team is not always obligated to comply with every demand or complaint from the community.
                                            </li>
                                        </ol>
                                    </div>
                                    <div v-if="lang == 'es'">
                                        <p>
                                            LittleRegress es un proyecto destinado para expresar la libre regresión de
                                            edad dentro de minecraft.
                                        </p>
                                        <p>
                                            Este es un proyecto de codigo abierto altamente modificable diseñado para
                                            que los usuarios puedan añadir contenido personalizado.
                                            El datapack esta bajo la licencia <a
                                                class="underline hover:bg-green-300 rounded-md"
                                                href="https://github.com/pipelonso/LittleRegressRebirth/blob/main/LICENSE">GNU
                                                General Public License v3.0</a> lo que significa que cada creación que
                                            tome como base LittleRegress tiene que ser de codigo abierto y compartir la
                                            misma licencia.
                                        </p>
                                        <p>
                                            La ramificación principal del proyecto intentará no añadir contenido
                                            inapropiado, y que atente sobre la integridad de los usuarios, en caso de
                                            presentarse algún problema con alguien, se replanteará la implementación de
                                            dicho contenido.
                                            Si uno de los usuarios desea añadir contenido personalizado puede optar por
                                            acudir a los diferentes canales de comunicación proporcionados por el
                                            proyecto y dentro de estos proponer ideas o trabajar en conjunto para
                                            implementar la funcionalidad dentro del desarrollo.
                                            Si el contenido que el usuario desee añadir va en contra de las politicas
                                            del datapack, no se le negara su creación, sino que tiene completa libertad
                                            de realizar un fork del proyecto y trabajar basado en este para agregar su
                                            implementación, sin embargo nosotros <strong>no nos hacemos cargo</strong>
                                            de los problemas que traiga esa versión del proyecto.
                                            Esto se hace para desvincular el contenido inapropiado de la versión
                                            principal del proyecto, pero al mismo tiempo no atentar contra la libertad
                                            de expresion de cada usuario.
                                        </p>
                                        <div class="flex gap-1">
                                            <div class="bg-blue-500 w-[2px]"></div>
                                            <p> <strong> Regulaciones de contenido </strong> </p>
                                        </div>
                                        <p>
                                            El datapack debido a su filosofia de proporcionar un entorno seguro de exploración se atiene a las siguientes reglas para su desarrollo:
                                        </p>
                                        <ol>
                                            <li>
                                                • No se agregará contenido que incluyá desnudos o incitaciones sexuales.
                                            </li>
                                            <li>
                                                • Aunque el datapack incluya contenido como pañales que pueden ser vistos como un fetiche, su objectivo no es representar esos elementos como un complemento sexual,
                                                por lo que queda a disposición del usuario como quiere utilizar esos elementos.
                                            </li>
                                            <li>
                                                • Cuando un usuario del datapack presente algún problema con contenido no desactivable, se llevará a cabo un dialogo sobre su re-implementación
                                                y se procurará hacer que ese contenido sea opcional.
                                            </li>
                                            <li>
                                                • Cuando se añada una mecanica que pueda ser repulsiva para algunos usuarios con mayor sensibilidad al contenido, por defecto esta
                                                sera una mecanica opcional y podrá ser activada o desactivada en las configuraciones del datapack, sin embargo, hay que tener en cuenta que esto puede no aplicarse en versiones viejas del datapack.
                                            </li>
                                            <li>
                                                • El equipo de LittleRegress no siempre tendrá la obligación de cumplir todo lo que su comunidad o las quejas exijan.
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <div class="saira p-2 rounded-md bg-slate-400">
                        <div class="flex gap-1 bg-slate-300">
                            <div class="bg-slate-500 w-[2px]"></div>
                            <p class="text-slate-700">Proposito</p>
                        </div>
                        <div class="py-2">
                            <div>
                                <div class="p-2 bg-slate-300">
                                    <div class="text-slate-600">
                                        <div v-if="lang == 'en'">
                                            <p>
                                                LittleRegress is a symbolic expression and self-exploration, a symbolic safe environment that takes advantage 
                                                of the freedom Minecraft provides.
                                            </p>
                                            <p>
                                                <strong>LittleRegress is not a therapy</strong>, it's a place where people can play, feel small, 
                                                imagine being cared for, or explore their softer and more vulnerable side — 
                                                all within a video game that allows for creativity without putting anyone at physical risk.
                                            </p>
                                            <p>
                                                One of the core ideas of LittleRegress is to encourage <a target="_blank" class="underline" href="https://www.verywellhealth.com/age-repression-therapy-5212676">conscious or symbolic regression</a>,
                                                which involves helping the user reach a state of vulnerability and safety as a way to ease stress or anxiety-related issues.
                                                It’s important to clarify that our team does not include any psychologists, so even though this type of experience may be self-induced, 
                                                it should ideally be done under the supervision of a responsible person, and if any issues arise, 
                                                you should seek psychological support at a health center as soon as possible.
                                            </p>
                                            <p class="italic bg-blue-300 p-2">
                                                This datapack is meant to be a symbolic and expressive tool within Minecraft. It is not guided therapy and does not replace professional psychological care.
                                                If you choose to explore your inner child or vulnerable side, make sure you are in a physically and emotionally safe space, and preferably with someone who can support you if needed.
                                                It’s okay to feel small — but you are also valuable just as you are now.
                                            </p>
                                        </div>
                                        <div v-if="lang == 'es'">
                                            <p>
                                                LittleRegress es una expresion simbolica y de autoexploración, un entorno simbolico seguro que aprovecha 
                                                la libertad que minecraft proporciona.
                                            </p>
                                            <p>
                                                <strong>LittleRegress no es una terapia</strong>, es un lugar donde las personas pueden jugar, sentirse pequeñas,
                                                 imaginarse cuidadas o explorar su lado más tierno y vulnerable, 
                                                todo dentro de un videojuego que permite la creatividad sin poner en riesgo físico a nadie.
                                            </p>
                                            <p>
                                                Una de las bases de LittleRegress es incentivar la <a target="_blank" class="underline" href="https://www.verywellhealth.com/age-repression-therapy-5212676">Regresión consciente o simbólica</a>
                                                lo cual implica ayudar al usuario a alcanzar ese estado de vulnerabilidad y seguridad como una ayuda para disminuir problemas causados por el estres o la ansiedad.
                                                Cabe aclarar que en nuestro equipo no tenemos ningun psicologo, por lo que este tipo de terapias aunque 
                                                sean auto inducidas requiere hacerse bajo la supervición de otra persona responsable y en caso de presentar problemas, 
                                                acudir a un centro de salud con atención psicologica lo mas pronto posible.
                                            </p>
                                            <p class="italic bg-blue-300 p-2">
                                                Este datapack está pensado como una herramienta simbólica y de expresión dentro de Minecraft. No es una terapia guiada ni sustituye atención psicológica. Si decides explorar tu lado infantil o vulnerable, asegúrate de estar en un espacio seguro, físico y emocionalmente, y preferiblemente con alguien que pueda acompañarte si lo necesitas.
                                                Está bien sentirse pequeño, pero tú también eres valioso en tu presente.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>

    <script src="resources/komponent/komponent.js"></script>

    <script>

        comp = new Komponent()

        async function loadComponents() {

            await comp.registerComponent('./pkComponents/top_bar.khtml', 'navbar')

            Vue.component('top-bar', {
                props: ['lang'],
                template: comp.getContent('navbar').text,
                data: function () {
                    return {
                        topBarUrls: {
                            index: './../index.html',
                            aboutUs: './aboutUs.html',
                            downloads: './newDownloads.html',
                            development: './development.html'
                        }
                    }
                }
            })

            var vm = new Vue({
                el: '#app',
                data: {
                    language: navigator.language.substring(0, 2),
                    lang: '',
                    navbarContent: '',
                    lrSelection: null
                },
                methods: {

                },
                mounted() {

                    if (navigator.language.substring(0, 2) == 'es') {
                        this.lang = 'es';
                    } else {
                        this.lang = 'en';
                    }

                }

            });

        }

        loadComponents()

    </script>

</body>

</html>