<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LittleRegress Discord</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/CSS/index.css">
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/CSS/containers.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <script src="resources/bootstrap/js/bootstrap.min.js"></script>
    
    <div id="app">
        <navcomponent page="discord"></navcomponent>
        
        <div class="row px-5">
            <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-6 p-2" >
                <template v-if="lang == 'en'">
                    <p class="text-center" style="font-size: 40px;">JOIN TO OUR DISCORD SERVER</p>    
                </template>
                <template v-if="lang == 'es'">
                    <p class="text-center" style="font-size: 40px;">UNETE A NUESTRO SERVIDOR DE DISCORD</p>    
                </template>
                <a href="https://discord.gg/5EfgM9xzYr">
                    
                    <template v-if="lang == 'en'">
                        <button class="w-100">
                            <p>JOIN DISCORD SERVER</p> 
                            <img src="resources/Images/icons/Discord.svg" alt="ds_icon" class="w-100">        
                        </button>
                    </template>
                    <template v-if="lang == 'es'">
                        <button class="w-100">
                            <p>UNIRSE AL SERVIDOR DE DISCORD</p> 
                            <img src="resources/Images/icons/Discord.svg" alt="ds_icon" class="w-100">
                        </button>
                        
                    </template>
                </a>
            </div>
            <div class="nav-item col-12 col-sm-12 col-md-6 col-lg-6">
                <!-- <img src="resources/Images/Chars/Discord/output.webm" alt="alt" class="w-100"> -->
                <video src="resources/Images/Chars/Discord/output.webm" class="w-100" autoplay loop></video>
            </div>
        </div>
       
    </div>
    <script src="resources/vue_components/navbar.js"></script>
    <script src="resources/JS/discord.js"></script>
</body>
</html>