<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/CSS/index.css">
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/CSS/containers.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <script src="resources/bootstrap/js/bootstrap.min.js"></script>

    <div id="app">
        <navcomponent page="discord"></navcomponent>
        
        <div class="navbar px-2">
            <div class="nav-item col-12 col-sm-12 col-md-4 col-lg-4"></div>
            <div class="nav-item col-12 col-sm-12 col-md-4 col-lg-4 p-2 abcontainers" >
                <template v-if="lang == 'en'">
                    <p class="text-center" style="font-size: 40px;">JOIN TO OUR DISCORD SERVER</p>    
                </template>
                <template v-if="lang == 'es'">
                    <p class="text-center" style="font-size: 40px;">UNETE A NUESTRO SERVIDOR DE DISCORD</p>    
                </template>
                <a href="https://discord.gg/5EfgM9xzYr">
                    <img src="resources/Images/icons/Discord.svg" alt="ds_icon" class="w-100">
                    <template v-if="lang == 'en'">
                        <button class="w-100">JOIN DISCORD SERVER</button>
                    </template>
                    <template v-if="lang == 'es'">
                        <button class="w-100">UNIRSE AL SERVIDOR DE DISCORD</button>
                    </template>
                </a>
            </div>
            <div class="nav-item col-12 col-sm-12 col-md-4 col-lg-4"></div>
        </div>
    </div>
    <script src="resources/vue_components/navbar.js"></script>
    <script src="resources/JS/discord.js"></script>
</body>
</html>