<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LittleRegress :: About us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <script src="resources/tailwindcss/tailwind.js"></script>
    <script src="resources/vue2/vue_2.js"></script>
</head>
<body class="bg-pink-100">
    
    <style>

        .saira {
            font-family: "Saira Extra Condensed", sans-serif;
        }

        .clouds-frame {
            background-image: url(resources/Images/svg/clouds.svg);
        }

    </style>

    <main>
        <div id="app">
            <div class="h-[150px]">
                <div class="clouds-frame bg-cover h-[150px] w-full absolute"></div>
                <div class="absolute w-full">
                    <top-bar :lang="lang"></top-bar>
                </div>
            </div>
            <div>
                <div class="p-2">
                    <div class="bg-white p-2 rounded-md">
                        <h1 class="text-lg" v-if="lang == 'es'">Descargas</h1>    
                        <h1 class="text-lg" v-if="lang == 'en'">Downloads</h1>    
                        <div class="bg-blue-200 h-[2px] rounded-md"></div>
                    </div>
                    <div class="bg-gray-300 my-2 rounded-md p-2">
                        <div class="flex justify-between items-center">
                            <div>
                                <h1>LITTLEREGRESS LEGACY</h1>
                                <p>Version: 1.20.4</p>
                            </div>
                            <div class="bg-red-100 p-2 rounded-md h-full">
                                <a href="https://github.com/pipelonso/LittleRegress/releases/tag/MV1.20.4-DV1.4B" target="_blank">
                                    <p v-if="lang == 'es'">
                                        Descargar en GitHub
                                    </p>
                                    <p v-if="lang == 'en'">
                                        Download on GitHub
                                    </p>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-300 my-2 rounded-md p-2">
                        <div class="flex justify-between items-center">
                            <div>
                                <h1>LITTLEREGRESS REBIRT Beta 1.0</h1>
                                <p>Version: 1.21.5 Java</p>
                            </div>
                            <div class="bg-red-100 p-2 rounded-md h-full">
                                <a href="https://github.com/pipelonso/LittleRegressRebirth/releases/tag/LR_Beta_Release" target="_blank">
                                    <p v-if="lang == 'es'">
                                        Descargar en GitHub
                                    </p>
                                    <p v-if="lang == 'en'">
                                        Download on GitHub
                                    </p>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="resources/komponent/komponent.js"></script>

    <script>

        comp = new Komponent()

        async function loadComponents() {

            await comp.registerComponent('./pkComponents/top_bar.khtml', 'navbar')

            Vue.component('top-bar', {
                props: ['lang'],
                template: comp.getContent('navbar').text,
                data: function () {
                    return {
                        topBarUrls : {
                            index : './../index.html',
                            aboutUs : './aboutUs.html',
                            downloads : './newDownloads.html',
                            development : './development.html'
                        }
                    }
                }
            })

            var vm = new Vue({
                el: '#app',
                data: {
                    language: navigator.language.substring(0, 2),
                    lang: '',
                    navbarContent: '',
                    lrSelection: null
                },
                methods: {

                },
                mounted() {

                    var languaje = navigator.language.substring(0, 2);
                    if (languaje == 'es') {
                        this.lang = 'es';
                    } else {
                        this.lang = 'en';
                    }

                }

            });

        }

        loadComponents()

    </script>

</body>
</html>